.about-us{
	height: 400px;
	width: 100%;
	background-color: red;
	text-align: center;
	font-size:    25px;
	padding-top: 100px;
	padding-right: 100px;
	font-style:   bold;
	/*text-decoration-color: #00aaff;*/
}
.follow-us{
	display: flex;
	padding-top: 20px;
	padding-right: 40px;
	padding-left: 100;
}
.follow-profile{
	padding-top: 20px;
	font-size: 20px;
	font-style: italic;
	
}